* {
    margin: 0;
    padding: 0;
}

/* .body {
    width: 100%;
    height: 100%;
} */

.add_bus_container {
    background-color:#e1e1dd;
    border-radius: 20px;
    width: auto;
    height: auto;
    margin-left: 560px;
    margin-right: 350px;
    margin-top: 120px;
    padding-top: 10px;
    padding-left: 170px;
    padding-right: 150px;
    padding-bottom: 10px;
    justify-content: center;
    text-align: center;
    position: absolute;
}

.add_bus_container h2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 180%;
    margin-left: 90px;
}

.add_bus_container label {
    margin: 5px 10px 8px 0;
    text-align: center;
    display: inline-block;
    font-weight: bold;
    font-size: large;
    position: relative;
}

/* .col-25 {
    width: 40%;
    margin-top: 6px;
    margin-left: 10px;
} */
  
.col-75 {
    float: left;
    width: 80%;
    margin-top: 6px;
    margin-left: 66px;
}
  
.add_bus_container input {
    text-align: left;
    padding: 10px;
    padding-left: 10px;
    padding-right: 20px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.add-form-row::after {
    content: "";
    display: table;
    clear: both;
}
  
.add_bus_container button:hover {
    background-color: royalblue;
}

.add_bus_container .btn_box {
    display: inline-block;
    margin-top: 40px;
    margin-left: 90px;
}

.add_bus_container .bus_update_btn {
    padding: 10px 20px;
    background-color: green;
    border: 1px solid #ddd;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    
    font-weight: bold;
    font-size: large;
}

.add_bus_container .bus_cancel_btn {
    padding: 10px 20px;
    background-color: red;
    border: 1px solid #ddd;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    margin-left: 10px;
    font-weight: bold;
    font-size: large;
}



@media (max-width: 800px) {
    .add_bus_container input {
      margin: 10px 0;
    }
    
    .add_bus_container {
      flex-direction: column;
      align-items: stretch;
    }
}