body {font-family: Arial, Helvetica, sans-serif;}
* {
    box-sizing: border-box;
    float: left;
    justify-content: center;
}

.head {
    margin-top: 100px;
    width: 100%;
    display: table;
    margin: 0 auto;
}

.head h1 {
    margin: 0 auto;
    position: absolute;
}

.backgroundImgdash {
    display: inline-block;
    margin-left: 600px;
    margin-top: 40px;
    height: 630px;
    width: 630px;
    text-align: left;
    background-image: url('../images/bushome.jpg');
    background-position: left center;
    background-size: contain;
    background-repeat: no-repeat;
}