* {
    margin: 0;
    padding: 0;
}

.view_bus_container {
    /* background-color:#e1e1dd; */
    border-radius: 20px;
    width: auto;
    height: auto;
    margin-left: 450px;
    margin-top: 120px;
    padding-top: 10px;
    padding-left: 110px;
    padding-bottom: 10px;
    justify-content: center;
    text-align: center;
    position: absolute;
}